[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jacob/Desktop/exo-file-manager.desktop]
row=4
col=0

[/home/jacob/Desktop/exo-web-browser.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/jacob]
row=2
col=0

